@import "~antd/dist/antd.css";
* {
  margin: 0;
  padding: 0;
}

.mock-page {
  overflow: hidden;
}

.mock-top {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #40a9ff;
}
.search-input {
  width: 300px;
}

.mock-top-btn {
  margin-left: 20px;
}
.add-btn {
  margin-left: 40px;
}

.mock-bottom {
  height: 500px;
  display: flex;
}

.mock-bottom-item {
  padding: 20px;
}

.mock-bottom-left {
  font-size: 16px;
  display: inline-block;
  width: 300px;
  text-align: left;
  height: calc(100vh + 550px);
  border-right: 1px solid #40a9ff;
}

.mock-bottom-right {
  font-size: 16px;
  display: inline-block;
  width: calc(100% - 309px);
  height: calc(100vh + 50px);
}
